* {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #272e33;
    color: #48b9c7;
    height: 8vh;
    padding: 1vh 2vw;
    display: flex;
    align-items: center;
    font-size: 6vh;
}

.m {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #333d46;
}

.cards {
    height: 20vh;
    width: 20vh;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    height: 10vh;
    width: 100vw;
    background: #272e33;
    color: #48b9c7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

@media (max-width: 1920px) {

    .cardContainer {
        width: 70vw;
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 200px;
        gap: 20px;
        padding: 4px 8px;
        height: 4550px;
        font-size: 6vw;
    }
    .divisores{
        font-size: 10vw;
        color: white;
        overflow-y: hidden;
    }
    #d1{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1/1/2/7;
    }
    #d2{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 5/1/6/7;
    }
    #d3{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 11/1/12/7;
    }
    #d4{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 15/1/16/7;
    }

    #c1{
        grid-area: 2/1/4/4;
        width: 100%;
        height: 100%;
        background: #48b9c7;
        border-color: #ff8700;
    }

    #c2{
        grid-area: 2/4/4/7;
        width: 100%;
        height: 100%;
        background: #87cf3e;
        border-color: #222d23;
    }

    #c3{
        grid-area: 4/1/5/7;
        width: 100%;
        height: 100%;
        background: #e95420;
        border-color: #fff;
    }

    #c4{
        grid-area: 6/1/8/4;
        background: #1793d1;
        border-color: #1a1a1a;
        width: 100%;
        height: 100%;
    }

    #c5{
        grid-area: 6/4/8/7;
        border-color: #00ff00;
        background: #181818;
        width: 100%;
        height: 100%;
    }

    #c6{
        grid-area: 8/1/9/7;
        background: #f9e70c;
        border-color: #222;
        width: 100%;
        height: 100%;
    }

    #c7{
        grid-area: 9/1/11/4;
        background: #294172;
        border-color: #fff;
        width: 100%;
        height: 100%;
    }

    #c8{
        grid-area: 9/4/11/7;
        background: #2e3b2f;
        border-color: #87cf3e;
        height: 100%;
        width: 100%;
    }

    #c9{
        width: 100%;
        height: 100%;
        grid-area: 12/1/14/4;
        background: #272e33;
        border-color: #48b9c7;
    }
    #c10{
        width: 100%;
        height: 100%;
        grid-area: 12/4/14/7;
        background: #f0f0f0;
        border-color: #ccc;
        color: black;
    }
    #c11{
        width: 100%;
        height: 100%;
        grid-area: 14/1/15/7;
        background: #ff6f61;
        border-color: #fff;
    }
    #c12{
        width: 100%;
        height: 100%;
        grid-area: 16/1/18/4;
        background: #6a5acd;
        border-color: #fff;
    }
    #c13{
        width: 100%;
        height: 100%;
        grid-area: 16/4/18/7;
        background: #20b2aa;
        border-color: #fff;
    }
    #c14{
        width: 100%;
        height: 100%;
        grid-area: 18/1/19/7;
        background: #ffb6c1;
        border-color: #fff;
    }
    #c15{
        width: 100%;
        height: 100%;
        grid-area: 19/1/21/4;
        background: #ffa500;
        border-color: #fff;
    }
    #c16 {
        width: 100%;
        height: 100%;
        grid-area: 19/4/21/7;
        background: #40e0d0;
        border-color: #fff;
    }
    

    .cards:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
        cursor: pointer;

    }
}

@media (max-width: 720px) {
    .cardContainer {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 4px 8px;;
    }
    .cards {
        width: 80vw;
        height: 200px;
        font-size: 4vw;
    }
    .divisores{
        font-size: 5vh;
        width: 70vw;
        height: 200vh;
        color: white;
        overflow-y: hidden;
    }
}